.heroSection {
  position: relative;
  isolation: isolate;
  background: url(/public/img/hero/mobile-hero-768w.jpg) center / cover
    no-repeat;
  min-block-size: 90dvh;
  color: var(--tea-green);
  display: grid;
  align-items: center;

  font-size: var(--step--2);
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.65)
  );
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  max-width: 75%;
  padding: var(--space-md);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.65)
  );
  border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
}

.kicker {
  display: flex;
  align-items: center;
}
.body {
  margin-block: auto;
  font-size: var(--step--1);
  display: grid;
}
.body h1 {
  font-size: var(--step-7);
  font-family: "Great Vibes";
  font-weight: bolder;
  line-height: 1;
  text-wrap: balance;
  text-align: center;
  margin-bottom: var(--space-xs);
}

.heroBio {
  font-size: var(--step--3) !important;
}
.body span {
  font-size: var(--step--4);
}

.btnContainer {
  padding: var(--space-xxs) var(--space-md) !important;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--space-xxs);
  justify-content: center;
  margin: 0;
  min-width: fit-content;
}
.btnContainer button {
  font-size: var(--step--1);
  border-radius: var(--radius-full);
}
.btnContainer span {
  font-size: var(--step--4);
  text-wrap: nowrap;
  font-style: italic;
  font-family: sans-serif;
}

.btnGrad {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #237a57 51%,
    #093028 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  padding: var(--space-xxs) 0;
  line-height: 0.8;
}
.btnGrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.emailBtn {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
}
.emailBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.body ul {
  padding-top: var(--space-xs);
  display: flex;
  list-style: none;
  gap: var(--space-xxs);
  font-size: var(--step--4);
  justify-content: center;
  flex-wrap: wrap;
}

.body li:not(:last-child)::after {
  content: "●";
  margin-left: var(--space-xxs);
}
.spanContainer {
  text-wrap: balance;
  text-align: center;
}

.waveTop {
  line-height: 0;
  height: var(--space-2xl);

  position: relative;
  margin-top: -15px;
}
.waveTop svg {
  width: 100%;
  height: 100%;
}

.mainContent {
  text-align: center;
}

.mainText h2 {
  font-family: "Great Vibes", cursive !important;
  margin: var(--space-md) 0;
  font-size: var(--step-4);
  font-weight: 900;
}
.mainText h3 {
  font-family: "Great Vibes", cursive !important;
  font-size: var(--step-2);
}
.mainText {
  padding: 0 var(--space-md);
}
