.header {
  background-color: var(--gunmetal);
  color: var(--cerulean);
  text-align: center;
  padding: var(--space-md);
  font-size: var(--step-0);
}

.navBar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.navBar a {
  text-decoration: none;
}

.logoLink {
  font-size: var(--step-3);
}
