/* Base = mobile */
.header {
  text-align: center;
  padding: var(--space-md);
  font-size: var(--step--2);
}

.navBar {
  display: flex;
  align-items: center;
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  width: 100%;
  justify-content: space-between;
}
.logoLink {
  color: var(--text);
}

.navBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 4 0;
}
.lightSwitch {
  display: none;
}
.navBar a {
  text-decoration: none;
}
.navBar a:not(:first-child):not(:last-child)::after {
  content: "|";
  color: var(--text);
  margin: 0 var(--space-xxs);
}
.navList {
  display: none;
}

.mobileThemeToggle {
  border: none;
  background-color: var(--surface);
  width: 36px;
  height: 36px;
  padding: 2px;
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--space-xxs);
}

.mobileThemeToggle svg:last-of-type {
  display: none;
}
.mobileThemeToggle svg:first-of-type {
  display: inline;
}

:global(:root[data-theme="dark"]) .mobileThemeToggle svg:first-of-type {
  display: none;
}
:global(:root[data-theme="dark"]) .mobileThemeToggle svg:last-of-type {
  display: inline;
}
