.cardBg {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  border-radius: var(--radius-xl);
  border: 2px solid var(--border);
  padding: var(--space-sm);
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.img {
  height: 100px;
  width: 100px;
  border-radius: var(--radius-full);
  border: 2px solid black;
  object-fit: cover;
  overflow: hidden;
}

.desc {
  width: 100%;
  line-height: 1;
  font-size: var(--step--2);
  font-style: italic;
}

.name {
  font-weight: bolder;
  line-height: 0.6;
}
.job {
  font-weight: normal;
  font-size: var(--step--2);
  color: black;
}
