.footer {
  background-color: var(--bg);
  color: var(--text);
  text-align: center;
  padding: var(--space-md);
  font-size: var(--step--1);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
}

.links a {
  color: var(--link);
  text-decoration: none;
}
